{% extends 'main.html' %}

{% block content %}

<center><img src= "{{ project.feature_image.url }}" width = "500"></center>

<h1>{{project.title}}e</h1>
<hr>
{% for tag in tags %}
<span class = "tags">{{tag}}</span>
{% endfor %}
<hr>
<p>{{project.description}}</p>
<p>
    {% if project.source_link %}
        <a href="{{ project.source_link }}">Source link</a>
    {% endif %}
    <span class = "link-space"></span>
    {% if project.demo_link %}
        <a href="{{ project.demo_link }}">Demo link</a>
    {% endif %}
</p>
<p>Created: {{project.created}}</p>
{% endblock content %}
