{% extends 'main.html' %}
{% load static %}

{% block content %}
<div style = "margin-left: 50px; margin-right: 50px; max-width: 1980px">
<div style = "display: inline-flex;">
    <left>
        <img src= "{{ profile.profile_image.url }}" width = "300" height = "300" style = "border-radius: 150px;">
    </left>
    <div style = "margin-left: 20px;">
        <!-- intro  -->
        <div style = "display: inline-flex;">
            <h1>{{profile.name}}</h1>
            <div class = "button-style" style = "margin-left: 24px; font-size: 24px">
                <a href = "{% url 'edit-account' %}" style = "color: #1c1c1d; text-decoration: None"> Edit</a>
            </div>
            
        </div>
        <i><p>{{profile.short_intro}}</p></i>
        <!-- location  -->
        <p><div style = "display: inline-flex;">
            {{profile.location}} <img src = '{% static "images/location-pin.png" %}' width = 25>
        </div></p>
        <!-- link -->
        <div>
            <a href = "mailto:{{profile.email}}" style = "text-decoration: none;"> 
                <img src = '{% static "images/email.png" %}' width = 48 style = "border-radius: 5px">
            </a>
            <span style = "margin-right: 15px"></span>
            {% if profile.social_linkedin %}
                    <a href="{{ profile.social_linkedin }}" style = "text-decoration: none;">
                        <img src = '{% static "images/Linkedin.png" %}' width = 52>
                    </a>
                    <span style = "margin-right: 15px"></span>
            {% endif %}
            {% if profile.social_github %}
                    <a href="{{ profile.social_github }}" style = "text-decoration: none;">
                        <img src = '{% static "images/github-mark-white.png" %}' width = 48>
                    </a>
                    <span style = "margin-right: 15px"></span>
            {% endif %}
            {% if profile.social_website %}
                    <a href="{{ profile.social_website }}" style = "text-decoration: none;">
                        <img src = '{% static "images/website.png" %}' width = 48>
                    </a>
                    <span style = "margin-right: 15px"></span>
            {% endif %}
        </div>
    </div>
</div>
<br>
<h2>About me</h2>
<p>{{profile.bio}}</p>

<br><br>
<div style = "display: inline-flex; justify-content: space-between; width: 100%">
    <h2>Skills</h2>
    <div class = "button-style" style = "margin-left: 20px; font-size: 24px">
        <a href = "{% url 'create-skill'%}" 
        style = "text-decoration: none; color: #1c1c1d;">Add Skill</a>
    </div>
</div>

<br><br>
<center>
    <table class = "profile-table">
        {% for skill in topSkills.all %}
        <tr>
            <td><b>{{skill.name}}</b></td>
            <td>{{skill.description}}</td>
            <td><a href = "{% url 'update-skill' skill.id %}"
                style = "text-decoration: none; color: #1c1c1d;">
                    <div class = "button-style" style = "margin-left: 10px">Edit</div></a>
                <br>
                <div class = "button-style" style = "margin-left: 10px">
                    <a href = "{% url 'delete-skill' skill.id %}?next=/account" 
                    style = "text-decoration: none; color: #1c1c1d;">Delete</a>
                </div>
            </td>
        </tr>
        {% endfor %}
    </table>
</center>
<br>

{% if otherSkills %}
<h2>Other Skills</h2>
    {% for skill in otherSkills.all %}
    <div style = "display: inline-flex">
        <span class = "tags">{{ skill.name }}</span>
        <a href = "{% url 'update-skill' skill.id %}" 
            style = "text-decoration: none; color: #1c1c1d;">
            <div class = "button-style" style = "margin-left: 10px">Edit</div></a>
        <br>
        <div class = "button-style" style = "margin-left: 10px">
            <a href = "{% url 'delete-skill' skill.id %}?next=/account" 
            style = "text-decoration: none; color: #1c1c1d;">Delete</a>
        </div>
    </div>
    <br>
    <br>
    {% endfor %}
{% endif %}

<br><br>
<div style = "display: inline-flex; justify-content: space-between; width: 100%">
    <h2>Skills</h2>
    <div class = "button-style" style = "margin-left: 20px; font-size: 24px">
        <a href = "{% url 'create-project'%}" 
        style = "text-decoration: none; color: #1c1c1d;">Add Project</a>
    </div>
</div>

<br><br>
{% for project in profile.project_set.all%}
<div class="project-card">
    <div class ="project-card-link"><a href="{% url 'project' project.id %}">
        <center><img src= "{{ project.feature_image.url }}" class="project-image"></center>
        <h3> {{ project.title }}</h3>
    </a></div>
    <h5> By: 
        <a href = "{% url 'user-profile' project.owner.id %}" style = "text-decoration: wavy;">
            <i>{{ project.owner }}</i>
        </a></h5>
    <p>Votes: {{ project.vote_ratio }}% ({{ project.vote_total }} Vote{{ project.vote_total|pluralize:"s" }})</p>
    <p>Created: {{ project.created }}</p>
    <div class="card-buttons">
        <a href="{% url 'update-project' project.id %}">Edit</a>
        <a href="{% url 'delete-project' project.id %}?next=/account">Delete</a>    
    </div>
</div>
{% endfor %}
</div>
<h1></h1>
{% endblock content %}
